<!DOCTYPE html>
<html>
<head>

<!doctype html>

<title>Test</title>
    <meta charset=utf-8>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">
</head>

<body>

<div class="box">
<h1> YazLab1 1. Proje </h1>
<h4>170201091 Mert Demirtaş <br> Tufan Anıl Kanca 170201034 </h4>
     <!--   <h1>My Website</h1>
    <button> <a href="/my-link/">Click me</a></button>
 -->

    <form name="form" action="/soru1">
        <input type="submit" value="Soru 1'e Gitmek için Tıklayın" />
    </form>

    <form name="form" action="/soru2">
        <input type="submit" value="Soru 2'ye Gitmek için Tıklayın" />
    </form>

    <form name="form" action="/soru3">
        <input type="submit" value="Soru 3'e Gitmek için Tıklayın" />
    </form>

    <form name="form" action="/soru4">
        <input type="submit" value="Soru 4'e Gitmek için Tıklayın" />
    </form>

    <form name="form" action="/soru5">
        <input type="submit" value="Soru 5'e Gitmek için Tıklayın" />
    </form>

<!--
    <form action="/my-link/">
        <input type="submit" value="Click me" />
    </form>


    <form action="/deneme/">
            <p>Girin</p>
            <input name = "u">
            <input type="submit" value="Tikla">
    </form>
  -->

</div>

    </body>

</html>
